@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para el modo oscuro */
body.dark-mode {
  background: linear-gradient(to bottom, #0F172A, #1E293B);
}

/* Estilo para el modo claro */
body.light-mode {
  background: linear-gradient(to bottom, #ECE9E6, #FFFFFF);
  color: black;
}


.switch {
  transition: all .3s;
}

.switch:checked + span {
  transform: translateX(250%);
}